[DESIGN]
max-attributes=20
extension-pkg-whitelist=PySide6
logging-format-style=fstr
const-naming-style=snake_case

[MESSAGES CONTROL]
disable=
    line-too-long,
    missing-module-docstring,
    broad-except,
    unidiomatic-typecheck,
    too-many-return-statements,
    too-few-public-methods,
    too-many-arguments,
    global-statement
